
* {
  font-size: 24px;
  margin: 0;
  padding: 0;
}


/* HEADER START */
body {
    background-image: url("/assets/img/pizza-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header--logo {
    width: 90px;
    height: auto;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.product {
    position: relative;
}

.product img {
    height: 300px;
    object-fit: cover;
    display: block;
    width: 100%;
    filter: blur(0px) grayscale(5%);

}
.product:hover img {
    filter: blur(2px);
}

.product h4.title {
    position: absolute;
    left: 5px;
    top: 0px;
}

.product h4.price {
    position: absolute;
    left: 5px;
    bottom: 0px
}

.text-shadow {
    text-shadow: #000 1px 1px 5px;
}

.product h4.left {
    position: absolute;
    left: 0px;
    bottom: 50%;
    transform: translate(0, 50%);
}

.product h4.right {
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translate(0, 50%);
}

.product h4.center {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.topping-add-rm {
    width: 70px;
}


/* HEADER END */
/* FOOTER START */


/* FOOTER END */

.layered-box {
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

